/* 初始化 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: '微软雅黑';
}

body {
    background: url('https://pic.imgdb.cn/item/64f4702e661c6c8e5412c167.png') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #fad3ef;
    color: #fff;
}
/* 初始化 */

/* 下划线 */
.xian {
    width: 0;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    transition: all .5s;
}

/* 下划线 */

/* 导航栏 */
.nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.nav-logo {
    margin: 5px 0 0 25px;
}

.nav-logo h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-logo h2 a {
    color: #fff;
    line-height: 50px;
}

.nav-logo:hover .xian {
    width: 90%;
}

.nav-xuanXiang {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.nav-xuanXiang-item {
    width: 150px;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    align-items: center;
    margin-right: 25px;
    flex-direction: column;
}

.nav-xuanXiang-item:hover .xian {
    width: 70%;
}

.nav-xuanXiang-item-box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-direction: row;
}

.nav-xuanXiang-item svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* 导航栏 */

/* 竖线 */
.shuXian {
    display: inline-block;
    width: 5px;
    height: 30px;
    background: #0e7ffe;
    border-radius: 50px;
}
/* 竖线 */

/* 横线 */

.henXian {
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
}

.henXian .neiXian {
    background: #fff;
    border-radius: 5px;
    height: 100%;
}

/* 横线 */

/* 主体 */

.main {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.main-card {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 55px;
}

.mian-sm1 {
    background: none;
    width: 250px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.headShot {
    width: 80%;
    margin: 15px 0;
}

.headShot img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.main-sm-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.mian-sm2-title h2,.mian-sm2-title h3 {
    letter-spacing: 2px;
}

.main-sm-text-ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.main-sm-text-ul li p {
    margin-left: 5px;
}

.mian-sm2 {
    width: 900px;
    height: 60vh;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.main-sm2-text-title,.main-lianXi-title {
    display: flex;
    margin-top: 15px;
}

.main-sm2-text-title p,.main-lianXi-title p {
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
    letter-spacing: 3px;
    font-weight: bolder;
}

.mian-sm2-card {
    width: 100px;
    padding: 2px;
    border-radius: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.mian-sm2-card p {
    font-weight: bolder;
    letter-spacing: 1px;
    color: #fff;
}

.mian-sm2-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

.mian-sm2-box2 {
    width: 30%;
    margin: 10px;
}

.mian-lianXi-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mian-linXi-card {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    transition: all .2s;
    user-select: none;
    cursor: pointer;
}

.mian-linXi-card p {
    color: #fff;
    font-weight: bolder;
    margin-left: 5px;
}

.mian-linXi-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.foot-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-text h1{
    margin-top:50px;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}

.foot-text p {
    color: #fff;
    font-family: 'Old Standard TT', serif;
}
/* 主体 */

/* 底部 */

.footer {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 10px;
    opacity: 0.5;
}
/* 底部 */